<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="pakoo" version="1">
<MenuBar>
	<Menu name="file"><!--<text>&amp;File</text>-->
		<Action name="installebuild" />
		<Separator/>
	</Menu>
	<Menu name="repository"><text>&amp;Repository</text>
		<Action name="sync" />
		<Action name="update" />
		<Action name="cleanup" />
		<Separator/>
		<Action name="advancedsearch" />
	</Menu>
	<Menu name="package"><text>&amp;Package</text>
		<Action name="install" />
		<Action name="uninstall" />
	</Menu>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar" iconText="icontextbottom">
	<Action name="sync"/>
	<Action name="update"/>
	<Separator/>
	<Action name="install"/>
	<Action name="uninstall"/>
	<Separator/>
	<Action name="cleanup"/>
	<Action name="advancedsearch" />
</ToolBar>
</kpartgui>
